@import './base.css';

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 500;
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

a,
.terracotta {
  text-decoration: none;
  color: #E27D60;
  transition: 0.4s;
  padding: 3px;
}

.orange {
  color: #E8A87C
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: flex;
    height: 100vh;
    flex: 1;
  }
}
